<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Page</title>
</head>
<body>
    <h1>CAREER TAKEOFF FROM MADY</h1>
    <!-- Form for file upload and input -->
    <form method="POST" enctype="multipart/form-data" class="mb-4">
        <div label for="file" class="form-label">Are you something looking for jobs?</label></div>
        <div label for="file" class="form-label">Do you feel overwhelmed by the information online?</label></div>
        <div label for="file" class="form-label">Do you want to have a on-stop help to improve your resume, analyze your dream role, and provide a customized match?</label></div>
        <div label for="file" class="form-label">We are by your side to help!</label></div>
        <div label for="file" class="form-label">Please upload Your resume and let's TAKEOFF!</label></div>
        <div label for="file" class="form-label">Are you something looking for jobs?</label></div>
        <input type="file" id="file" name="file" required>
        <button type="submit">Submit Resume and Review Analysis</button>
    </form>
</body>
</html>
